@font-face {
    font-family: HelveticaNeue;
    src: url(../../../../../../assets/font/HelveticaNeue-Medium.ttf);
}

ion-input {
    font-family: HelveticaNeue;
}

#previsualizar {
    border: #59137D solid;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

span {
    color: #59137D;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    margin-left: 51%;
}

img {
    height: 21.7px;
    width: 32.55px;
}

#files {
    font-size: 0px;
    width: 0px;
    height: 0px;
}

#guardar {
    background-color: #59137D;
    color: white;
    border: 0;
    float: right;
}
#footer, #emisores{
    background-color: #F1F1F1
}
ion-card-title,
h1,
ion-card-content {
    color: black;
}

#comprar {
    background-color: #59137D;
    color: white;
    border: 0;
    float: right;
}

.inputWidth {
    width: 60px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    color: #75249e;
}

#contenidoComprar{
    padding:50px;
}

#contenidoFooter{
   background-color: #F1F1F1;
    border-top: white 1px solid;
}

ion-header{
    // padding-top: 100px !important;
    padding-top: constant(safe-area-inset-top) !important;
    padding-top: env(safe-area-inset-top) !important; 
}