<!---------------------------------------------------------------- MODAL (editar)------------------------------------------------------------->
<!-------------------------------------------------------------------CABECERA ---------------------------------------------------------------->
<ion-header>
    <ion-toolbar class="p-3" style="--background: #363636;">
        <!-- <ion-toolbar class="p-3" color="light"> -->
        <div class="d-flex justify-content-between border-bottom">
            <ion-title class="text-white">
                COMPRAR
            </ion-title>
            <!-- <i class="fas fa-times fa-2x text-white" (click)="dismiss()"></i> -->
            <ion-icon style="color:white !important" (click)="dismiss()" slot="start" name="close"></ion-icon>
            <br>
        </div>
    </ion-toolbar>
</ion-header>

<!-------------------------------------------------------------------FORMULARIO--------------------------------------------------------------->
<ion-content style="--background: #363636;" id="contenidoComprar">


    <!-- <ion-content color="light" id="contenidoComprar"> -->
    <ion-card class="bg-white border-top">
        <ion-card-header class="border-bottom">
            <ion-card-title>
                {{ticket.activity_name}}
            </ion-card-title>
            <ion-card-subtitle>
                {{diaSemana}}, {{fechaString}}
            </ion-card-subtitle>
            <ion-card-subtitle>
                {{ticket.start_time}}
            </ion-card-subtitle>
            <h1>{{ticket.price}}&euro;</h1>
        </ion-card-header>
        <ion-card-content>
            <br>
            <ion-card-title style="color:red">ATENCIÓN</ion-card-title>
            <br>
            <p>Al pulsar en "Pagar" se le redigirá a una página de pago. Tras introducir sus datos y pagar NO SALGA DE LA PÁGINA Y PULSE EN CONTINUAR CUANDO EL PAGO SE REALICE CORRECTAMENTE. Una vez se le cargue la siguiente página podrá salir sin problemas.</p>
            <p style="color:red">SI NO HACE ESTO SU COMPRA NO SE EFECTUARÁ CORRECTAMENTE</p>
            <br>
        </ion-card-content>
    </ion-card>

    <ion-radio-group class="mt-2">
        <!------------------------------------------------------RADIO BUTTON TARJETA--------------------------------------------------------->
        <!-- <div class="mx-3">
            <ion-radio id="tarjeta" class="me-2" (click)="change($event)"></ion-radio>
            <label for=""><i class="far fa-credit-card"></i> Tarjeta de credito</label>
        </div> -->
        <!---------------------------------------------------------DIV TARJETA--------------------------------------------------------->
        <!-- <ion-card *ngIf="tarjeta" class="border-top">
            <ion-card-header class="border-bottom">
                <ion-card-title>
                    Pagar con tarjeta
                </ion-card-title>
                <ion-card-subtitle>
                    <div class="d-flex mt-2">
                        <img src="../../../../assets/img/Visa.png" alt="" width="10%" height="10%">
                        <img src="../../../../assets/img/MasterCard.png" alt="" width="10%" height="10%">
                        <img src="../../../../assets/img/Maestro.png" alt="" width="10%" height="10%">
                        <img src="../../../../assets/img/AmericanExpress.png" alt="" width="10%" height="10%">
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="mt-2">
                <form action="">
                    <label for="">Nombre del titular</label>
                    <input type="text" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Número de la tarjeta</label>
                    <input type="text" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Fecha de caducidad</label>
                    <div class="d-flex mb-2">
                        <input type="text" class="form-control form-control-solid inputWidth" placeholder="Mes">
                        <input type="text" class="form-control form-control-solid inputWidth" placeholder="Año">
                    </div>
                    <label for="">Cód. Seguridad:</label>
                    <div class="d-flex mb-2">
                        <input type="text" class="form-control inputWidth">
                        <a href="" class="mt-2" (click)="codigoModal()">¿Qué es el código de seguridad?</a>
                    </div>
                    <ion-checkbox class="border me-2 mt-2"></ion-checkbox>
                    <label for="" class="ml-3"><small>Recordar esta tarjeta para su uso posterior</small></label>
                </form>
            </ion-card-content>
        </ion-card> -->
        <!------------------------------------------------------RADIO BUTTON PAYPAL--------------------------------------------------------->
        <!-- <div class="mx-3">
            <ion-radio id="paypal" class="me-2" (click)="change($event)"></ion-radio>
            <label for=""><i class="fab fa-paypal"></i> Paypal</label>
        </div> -->
        <!---------------------------------------------------------DIV TARJETA--------------------------------------------------------->
        <!-- <ion-card *ngIf="paypal" class="border-top">
            <ion-card-header class="border-bottom">
                <ion-card-title>
                    Pagar con Paypal
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="mt-2">
                <form action="">
                    <label for="">Nombre del titular</label>
                    <input type="text" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Correo electrónico</label>
                    <input type="text" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Domicilio</label>
                    <input type="text" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Número de teléfono</label>
                    <input type="number" class="form-control form-control-solid mb-2" autocomplete="off">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="form-control form-control-solid mb-2" autocomplete="off">

                    <ion-checkbox class="border me-2 mt-2"></ion-checkbox>
                    <label for="" class="ml-3"><small>Recordar esta tarjeta para su uso posterior</small></label>
                </form>
            </ion-card-content>
        </ion-card> -->
    </ion-radio-group>

    <!-- <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV2.js"></script>
    <div id="card-form" style="height: 400px"></div>
    <input type="hidden" id="token">
    <input type="hidden" id="errorCode">
    <script>
        // Listener
        window.addEventListener("message", function receiveMessage(event) {
            storeIdOper(event, "token", "errorCode", merchantValidationEjemplo);
        });
        // Petición de carga de iframe
        let estiloBoton = ''
        let estiloBody = ''
        let estiloCaja = ''
        let estiloInputs = ''
            // getInSiteForm('card-form', estiloBoton, estiloBody, estiloCaja, estiloInputs, 'Aceptar',
            //     '999008881', '1', 'F8OYDISB16DA', '1');
        getInSiteForm('card-form', '', '', '', '', 'Aceptar', '999008881', '001', 'Order00123', 'ES', true);
    </script> -->



</ion-content>
<!-------------------------------------------------------------------FOOTER-------------------------------------------------------------------->
<ion-footer class="p-4" id="contenidoFooter">

    <!-- <form action="https://sis-t.redsys.es:25443/sis/realizarPago" method="POST" id="id_formulario" name="nombre_formulario">
        <input type="hidden" name="Ds_MerchantParameters" [value]="merchantParams" />
        <input type="hidden" name="Ds_Signature" [value]="signature" />
        <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1" />
    </form> -->
    <!-- <form #testForm="ngForm" action="https://sis-t.redsys.es:25443/sis/realizarPago" method="POST" id="id_formulario" name="nombre_formulario">
        <input type="hidden" id="params" name="Ds_MerchantParameters" value="" />
        <input type="hidden" id="signat" name="Ds_Signature" value="" />
        <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1" />
    </form> -->

    <!-- <input type="submit" name="btn_submit" id="btn_id" value="Enviar" style="font-size:14px; color:#ff00c1; display:none;"> -->


    <ion-button *ngIf="!loading" (click)="generatemerchantparams()" expand="block" fill="clear" shape="round">
        Pagar
    </ion-button>
    <ion-button *ngIf="loading" expand="block" fill="clear" shape="round">
        Cargando...
    </ion-button>
</ion-footer>
