* {
    background-color: #363636;
    --background: #363636;
    color: white;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../../../assets/font/HelveticaNeue-Medium.ttf);
}

ion-input {
    font-family: HelveticaNeue;
}

.color {
    color: #59137D;
}

button {
    background-color: #59137D;
    color: white;
    border: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.check {
    margin: 0;
    padding: 0;
    width: 20px;
}

footer {
    font-size: small;
    text-align: center;
    color: gray;
}

ion-checkbox {
    width: 20px;
    height: 20px;
}

ion-header{
    // padding-top: 100px !important;
    padding-top: constant(safe-area-inset-top) !important;
    padding-top: env(safe-area-inset-top) !important; 
}