* {
    color: black;
    background-color: white;
}

#comprar {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    color: white;
    background-color: #59137D;
    font-weight: normal;
}