<!---------------------------------------------------------------- MODAL (editar)------------------------------------------------------------->
<!-------------------------------------------------------------------CABECERA ---------------------------------------------------------------->
<ion-header>
    <ion-toolbar class="p-3" color="light">
        <div class="d-flex justify-content-between border-bottom">
            <ion-title class="text-black">
                CAMBIAR CLASE <br> {{fechaAntiguaFormato}}
            </ion-title>
            <i class="fas fa-times fa-2x text-black" (click)="dismiss()"></i>
            <br>
        </div>
    </ion-toolbar>
</ion-header>

<!-------------------------------------------------------------------FORMULARIO--------------------------------------------------------------->
<ion-content color="light" id="contenidoComprar">
    <ion-card class="bg-white border-top col-12" *ngFor="let fecha of fechasLibres; let i = index">
        <ion-card-header class="border-bottom">
            <ion-card-title>
                {{fechasLibresFormato[i]}}
            </ion-card-title>

            <ion-card-content>
                <ion-card class="bg-white border-top col-12" *ngFor="let hueco of huecos[fecha]; let j = index">
                    <ion-card-header class="border-bottom">
                        <button type="button" class="btn" id="comprar" (click)="confirmarCambiar(hueco.id, fecha, hueco.start_time, fechasLibresFormato[i])">Cambiar</button>
                        <!-- <button type="button" class="btn" id="comprar" (click)="cambiar(hueco.id, fecha, hueco.start_time)">Cambiar</button> -->
                        <h1>{{hueco.start_time}}</h1>
                    </ion-card-header>
                </ion-card>
            </ion-card-content>

            <!-- <button type="button" class="btn" id="comprar">Cambiar</button>
            <h1>{{huecos[fecha][0].start_time}}</h1> -->
        </ion-card-header>
    </ion-card>

</ion-content>
<!-------------------------------------------------------------------FOOTER-------------------------------------------------------------------->
<!-- <ion-footer class="p-4" id="contenidoFooter">
    <button type="button" class="btn" id="comprar">Comprar</button>
</ion-footer> -->