<!-- <p>Reune lo mejor de la filosofía del ejercicio centrado en la física muscular con el control corporal y la relajación de la filosofía oriental. Es un método de acondicionamiento físico que mejora la flexibilidad, fortalece músculos.</p> -->

<ion-content style="--background: #363636;">
    <!-- <ion-content color="light"> -->
    <ion-card class="border-top" *ngIf="pilatesRegalo">
        <ion-card-header>
            <!--------------------------------------------------TITULO CARD--------------------------------------->
            <ion-card-title class="border-bottom">{{pilatesRegalo.activity_name}}
                <!-- <i class="fas fa-angle-double-left fa-lg" [routerLink]="['/dashboard/bono-regalo']"></i> -->
                <ion-icon style="float:right" [routerLink]="['/dashboard/bono-regalo']" name="close"></ion-icon>
            </ion-card-title>
            <!--------------------------------------------------SUBTITULO CARD--------------------------------------->
            <ion-card-subtitle>
                <div class="border-bottom">
                    <!-- <h5>¿Qu&eacute; es?</h5> -->
                    <p>{{pilatesRegalo.description_es}}</p>
                </div>
                <p class="mt-2">Usalo cuando <span class="fw-normal">quieras</span>, para ti o para <span class="fw-normal">regalo</span> con <span class="fw-normal">1 año</span> de caducidad</p>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content id="columnas">
            <!--------------------------------------------------COMPRAR BONOS--------------------------------------->
            <!-----------------------------------------------------BONO 1------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">1 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio1mes | number: '.0-0'}}&euro;</ion-card-title>
                    <!-- <ion-card-title class="fw-normal" id="dinero">55&euro;</ion-card-title> -->
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 2------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">2 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio2mes}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 3------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">3 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio3mes}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 4------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">6 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio6mes}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>

        </ion-card-content>

        <!-----------------------------------------------------OPCIÓN B------------------------------------------->

        <ion-card-header>
            <!--------------------------------------------------TITULO CARD--------------------------------------->
            <ion-card-title class="border-bottom">{{pilatesBRegalo.activity_name}} B<i class="fas fa-angle-double-left fa-lg" [routerLink]="['/dashboard/bono-regalo']"></i></ion-card-title>
            <!--------------------------------------------------SUBTITULO CARD--------------------------------------->
            <ion-card-subtitle>
                <!-- <div class="border-bottom">
                    <h5>¿Qu&eacute; es?</h5>
                    <p>{{pilatesBRegalo.description_es}}</p>
                </div> -->
                <p class="mt-2">Usalo cuando <span class="fw-normal">quieras</span>, para ti o para <span class="fw-normal">regalo</span> con <span class="fw-normal">1 año</span> de caducidad</p>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content id="columnas">
            <!--------------------------------------------------COMPRAR BONOS--------------------------------------->
            <!-----------------------------------------------------BONO 1------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">1 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio1mesB | number: '.0-0'}}&euro;</ion-card-title>
                    <!-- <ion-card-title class="fw-normal" id="dinero">55&euro;</ion-card-title> -->
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 2------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">2 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio2mesB}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 3------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">3 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio3mesB}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>
            <!-----------------------------------------------------BONO 4------------------------------------------->
            <ion-card class="text-center mx-0 mt-0 border-top">
                <ion-card-header>
                    <ion-card-subtitle id="mes">6 Mes</ion-card-subtitle>
                    <ion-card-title class="fw-normal" id="dinero">{{precio6mesB}}&euro;</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <button class="btn" id="comprar">Próximamente</button>
                </ion-card-content>
            </ion-card>

        </ion-card-content>

    </ion-card>
</ion-content>