<!---------------------------------------------------------------- MODAL (codigo)------------------------------------------------------------->
<!-------------------------------------------------------------------CABECERA ---------------------------------------------------------------->
<ion-header class="mb-4">
    <ion-toolbar class="p-3">
        <div class="d-flex justify-content-between">
            <ion-title class="text-white">
                CÓDIGO DE SEGURIDAD
            </ion-title>
            <!-- <i class="fas fa-times fa-2x text-white" (click)="dismiss()"></i> -->
            <ion-icon style="color:white !important" (click)="dismiss()" slot="start" name="close"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<!-------------------------------------------------------------------FORMULARIO--------------------------------------------------------------->
<ion-content>
    <ion-card class="bg-white border-top p-3">
        <p>Requerimos que ingreses tu número de verificación de tarjeta de crédito (CVV) para confirmar que el pago se realiza correctamente. Tu número de CVV se puede encontrar en la parte posterior de tu tarjeta de crédito.</p>
        <img src="../../../../../assets/img/codigoTarjeta.jpg" alt="">
    </ion-card>
</ion-content>