<!----------------------------------------------BONOS REGALO--------------------------- -------->

    <div   style=" background-color: #ECECEC;height: 100%; display: flex; align-items: center; justify-content: center;">
<ion-card class="my-2 py-0 border-0">
    <ion-card-content id="columnas">
        <ion-card id="pilates" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/pilates']">
                <ion-card-title class="bg-transparent py-5">PILATES</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="aerosoluna" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/aerosoluna']">
                <ion-card-title class="bg-transparent py-5">AEROSOLUNA</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="readapt" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/readaptacion-fisica']">
                <ion-card-title class="bg-transparent py-5">READAPT. FÍSICA</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="entrenamiento" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/entrenam-personal']">
                <ion-card-title class="bg-transparent py-5">ENTRENAM. PERSONAL</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="yoga" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/yoga']">
                <ion-card-title class="bg-transparent py-5">YOGA</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="infantil" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/yoga-infantil']">
                <ion-card-title class="bg-transparent py-5">YOGA INFANTIL</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="hipopresivo" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/hipopresivo']">
                <ion-card-title class="bg-transparent py-5">HIPOPRESIVO</ion-card-title>
            </button>
        </ion-card>
        <ion-card id="embarazada" class="mx-0 mt-0 col-12">
            <button class="bg-transparent" [routerLink]="['/dashboard/pilates-embarazadas']">
                <ion-card-title class="bg-transparent py-5">PILATES EMBARAZADAS</ion-card-title>
            </button>
        </ion-card>

    </ion-card-content>
</ion-card>
</div>