* {
    color: white;
    background-color: transparent;
    font-size: medium;
}

ion-card {}

#columnas {
    column-count: 2;
    padding: 0px;
    background-color: transparent
}

#pilates {
    height: 115.2px;
    background-image: url(../../../../../assets/img/pilates-maquina.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#pilates:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#aerosoluna {
    height: 115.2px;
    background-image: url(../../../../../assets/img/aerosoluna.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#aerosoluna:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#entrenamiento {
    height: 115.2px;
    background-image: url(../../../../../assets/img/entrenamiento-personal.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#entrenamiento:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#readapt {
    height: 115.2px;
    background-image: url(../../../../../assets/img/readaptacion-fisica.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#readapt:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#embarazada {
    height: 115.2px;
    background-image: url(../../../../../assets/img/pilates-embarazadas.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#embarazada:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#yoga {
    height: 115.2px;
    background-image: url(../../../../../assets/img/yoga.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#yoga:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#infantil {
    height: 115.2px;
    background-image: url(../../../../../assets/img/yoga-infantil.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#infantil:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#hipopresivo {
    height: 115.2px;
    background-image: url(../../../../../assets/img/hipopresivo.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#hipopresivo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#taichi {
    height: 115.2px;
    background-image: url(../../../../../assets/img/taichi.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#aerosolunaYoga {
    height: 115.2px;
    background-image: url(../../../../../assets/img/aerosoluna1.webp);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}