<!---------------------------------------------------------------- MODAL (cambiar contraseña)------------------------------------------------------------->
<!-------------------------------------------------------------------CABECERA ---------------------------------------------------------------->
<ion-header>
    <ion-toolbar class="p-3">
        <div class="d-flex justify-content-between">
            <ion-title>
                RECUPERAR CONTRASEÑA
            </ion-title>
            <i class="fas fa-times text-black fa-2x pt-1" (click)="dismiss()"></i>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content>
    <h5 class="text-center my-3 ml-5 mr-5">No te preocupes, te enviaremos un mensaje para resetear tu contraseña</h5>

    <br>
    <!-------------------------------------------------------------------FORMULARIO ---------------------------------------------------------------->
    <form action="" [formGroup]="data" class="p-4">
        <ion-input formControlName="login" placeholder="Introduce tu email o tu teléfono" class="border-bottom mb-3"></ion-input>
    </form>
</ion-content>

<!-------------------------------------------------------------------FOOTER-------------------------------------------------------------------->
<ion-footer class="p-4">
    <button type="submit" (click)="recuperar()" class="btn">Recuperar</button>
</ion-footer>