<ion-content color="light">
    <!------------------------------------------------------------TU ASISTENCIA----------------------------------------------------------x
    <ion-card class="my-2 py-2 px-0 border-top">
        <ion-card-header>
            <ion-card-title class="border-bottom">TU ASISTENCIA</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>Porcentaje de asistencias y faltas que has tenido en el &uacute;ltimo mes</p>
            <br>
            <div class="d-flex justify-content-center">
                <div id="verde"></div>
                <p>Asistencia</p>
                <div id="rojo"></div>
                <p>Falta</p>
            </div>
        </ion-card-content>
    </ion-card>
-->
    <!---------------------------------------------------------------TUS DATOS------------------------------------------------------------->
    <ion-card class="my-2 py-2 px-0 border-top">
        <ion-card-header>
            <ion-card-title class="border-bottom d-flex justify-content-between">
                <!-- TUS DATOS-->
                DATOS PERSONALES
                <button (click)="editarModal()">
                    <i class="fas fa-edit"></i>
                </button>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <!----------------------------------------TABLA---------------------------------------------------------------->
            <img src="../../../../../assets/img/avatar.jpg" alt="" class="d-block m-auto">
            <table class="col-12">
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='fas fa-user-circle'></i></th>
                    <td class="col-11 border-bottom">Nombre y apellidos</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class="fas fa-map-marker-alt"></i></th>
                    <td class="col-11 border-bottom">Avenida de Aureliano San Román 19, 33011 Oviedo, Asturias</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class="fas fa-mobile-alt"></i></th>
                    <td class="col-11 border-bottom">123456789</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class="fas fa-envelope"></i></th>
                    <td class="col-11 border-bottom">prueba@prueba.com</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class="far fa-id-badge"></i></th>
                    <td class="col-11 border-bottom">123456768A</td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>

    <!------------------------------------------------------------------ULTIMA ACTIVIDAD---------------------------------------------- 
    <ion-card class="py-2 my-2 px-0 border-top">
        <ion-card-content>
            <div class="flex">
                <div class="flex-item">
                    <div style="display: block;">
                       
    <!--------------------------------------------------GRAFICO------------------------------------------------  
                        <canvas baseChart height="200" [datasets]="lineChartData" [options]="lineChartOptions" [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                    </div>
                </div>
            </div>
          
    <!--------------------------------------------------TABLA------------------------------------------------  
            <div>
                <table>
                    <tr class="col-12 text-center">
                        <th class="col-2">Profesor</th>
                        <th class="col-5">Actividad y hora</th>
                        <th class="col-2">Fecha</th>
                    </tr>
                </table>
            </div>
        </ion-card-content>
    </ion-card>
    -->

    <!--------------------------------------------------------------------CALENDARIO--------------------------------------------------

    <ion-card class="py-2 border-top">
        <ion-card-header class="d-flex justify-content-center ">
            <div id="calendario" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" dateFormat="Y-m-d" altFormat="F j, Y" [options]="datePickerOptions"></div>
        </ion-card-header>
        <ion-card-content class="my-2 px-4">
            <ion-title class="border-bottom p-0">Clases</ion-title>
            <p class="mt-2">No tienes clases este día</p>
        </ion-card-content>
    </ion-card>
    -->
    <!---------------------------------------------------------------------MODIFICAR DATOS BANCARIOS------>
    <ion-card class="my-2 py-2 px-0 border-top">
        <ion-card-header>
            <ion-card-title class="border-bottom d-flex justify-content-between">
                DATOS BANCARIOS
                <button (click)="editarBancarios()">
                    <i class="fas fa-edit"></i>
                </button>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <!----------------------------------------TABLA---------------------------------------------------------------->
            <table class="col-12">
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='fab fa-cc-mastercard'></i></th>
                    <td class="col-11 border-bottom">Emisor</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='fas fa-money-check-alt'></i></th>
                    <td class="col-11 border-bottom">Número de cuenta</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='fas fa-user-circle'></i></th>
                    <td class="col-11 border-bottom">Nombre del titular</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='far fa-calendar-alt'></i></th>
                    <td class="col-11 border-bottom">Fecha de caducidad</td>
                </tr>
                <tr>
                    <th class="col-1 text-center border-bottom"><i class='fas fa-credit-card'></i></th>
                    <td class="col-11 border-bottom">Código se seguridad</td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>
</ion-content>