@font-face {
    font-family: HelveticaNeue;
    src: url(../../../../assets/font/HelveticaNeue-Medium.ttf);
}

ion-input {
    font-family: HelveticaNeue;
}

#guardar {
    background-color: #59137D;
    color: white;
    border: 0;
    float: right;
}
*{
    background-color: #F1F1F1
}
#header{
    background-color: #F1F1F1;
   
}
#contenido{
margin-top:30px;
}
ion-input{
    background-color:white;
}
form{
    background-color:white; margin:6%; box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}