@font-face {
    font-family: HelveticaNeue;
    src: url(../../../../assets/font/HelveticaNeue-Medium.ttf);
}

ion-input {
    font-family: HelveticaNeue;
}

#guardar {
    background-color: #59137D;
    color: white;
    border: 0;
    float: right;
}