@font-face {
    font-family: HelveticaNeue;
    src: url(../../../../assets/font/HelveticaNeue-Medium.ttf);
}

ion-input {
    font-family: HelveticaNeue;
}

#guardar {
    background-color: #59137D;
    color: white;
    border: 0;
    float: right;
}
*{
    background-color: #F1F1F1
}
#header{
    background-color: #F1F1F1;
   
}
#contenido{
margin-top:30px;
}