<!---------------------------------------------------------------- MODAL (cambiar contraseña)------------------------------------------------------------->
<!-------------------------------------------------------------------CABECERA ---------------------------------------------------------------->
<ion-header id="header" style="--background: #363636;">
    <!-- <ion-header id="header" color="light"> -->
    <ion-toolbar class="p-3" style="--background: #363636;">
        <!-- <ion-toolbar class="p-3" color="light"> -->
        <div class="d-flex justify-content-between">
            <ion-title class="text-white">
                CONTRASEÑA NUEVA
            </ion-title>
            <!-- <i class="fas fa-times fa-2x text-white" (click)="dismiss()"></i> -->
            <ion-icon style="color:white !important" (click)="dismiss()" slot="start" name="close"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content id="contenido" style="--background: #363636;">
    <!-- <ion-content id="contenido" color="light"> -->
    <br>
    <!-------------------------------------------------------------------FORMULARIO ---------------------------------------------------------------->
    <form action="" [formGroup]="data" class="p-4">
        <ion-input formControlName="old_password" placeholder="Contraseña antigua" class="border-bottom mb-3"></ion-input>
        <ion-input formControlName="new_password" placeholder="Contraseña nueva" class="border-bottom mb-3"></ion-input>
        <ion-input formControlName="confirm_new_password" placeholder="Confirma la nueva contraseña" class="border-bottom mb-3"></ion-input>
    </form>
    <!-------------------------------------------------------------------FOOTER-------------------------------------------------------------------->

</ion-content>
<ion-footer class="p-4" id="footer">
    <button (click)="cambiarContrasenia()" type="button" class="btn" id="guardar">Guardar</button>
</ion-footer>