img {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    clear: left;
    vertical-align: middle;
    margin-right: 10px;
}

i {
    color:black;
    padding: 5px;
}

.usuario {
    margin-left: 10px;
}

.boton {
    text-align: left;
}

span {
    color:black;
    font-weight: 600;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
}

